.towerbg {
    background: url(/img/bg2.webp);
    background-size: cover;
}

#top {
    background: transparent;
}

#navlogo {
    width: 1.6em;
    vertical-align: middle;
    margin-right: 0.2em;
}

/* #top {
    background: linear-gradient(90deg, #f8f9fa 21px, transparent 1%) center, linear-gradient(#f8f9fa 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
} */

#workwithus {
    background: #12396f;
}

.nav-item {
    font-size: 1.4em;
}

#navlogo {
    font-size: 1.4em;
}
@media (max-width: 768px) {
    #navlogo {
        font-size: 1.2em; /* Adjust the font size as per your requirements for mobile */
    }
}

@media (min-width: 768px) {
body {
    background-image: url(/img/logowatermark2.png);
    background-size: 26%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 90%;
    background-position-y: 50%;
}
}

.desk-mt-1 {
    margin-top: 1.2em;
}
.desk-mt-2 {
    margin-top: 2.4em;
}
.desk-mt-3 {
    margin-top: 3.6em;
}
.desk-mt-4 {
    margin-top: 4.8em;
}
.desk-mt-5 {
    margin-top: 6em;
}
.desk-mt-6 {
    margin-top: 7.2em;
}

.desk-mt-7 {
    margin-top: 8.4em;
}

.desk-mt-8 {
    margin-top: 9.6em;
}

@media (max-width: 768px) {
    .desk-mt-1 {
        margin-top: 2em;
    }
    .desk-mt-2 {
        margin-top: 2em;
    }
    .desk-mt-3 {
        margin-top: 2em;
    }
    .desk-mt-4 {
        margin-top: 2em;
    }
    .desk-mt-5 {
        margin-top: 2em;
    }
    .desk-mt-6 {
        margin-top: 2em;
    }
    .desk-mt-7 {
        margin-top: 2em;
    }
    .desk-mt-8 {
        margin-top: 2em;
    }
}

footer {
    margin-top: 4em;
}

.exploretext {
    font-size: 2rem;
    font-weight: 100;
}

#footlogo {
    width: 2.3em;
}

.py-vh-5 {
    padding-top: 12vh;
    padding-bottom: 4vh;
}
/* #services p {
    text-align: justify;
}

.product-features p {
    text-align: justify;
}

.justify-text {
    text-align: justify;
} */