.towerbg {
    background: url(/img/bg2.webp);
    background-size: cover;
}

#top {
    background: #fff;
}

#navlogo {
    width: 1em;
    vertical-align: middle;
    margin-right: 0.2em;
}

/* #top {
    background: linear-gradient(90deg, #f8f9fa 21px, transparent 1%) center, linear-gradient(#f8f9fa 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
} */

#workwithus {
    background: #12396f;
}

.nav-item {
    font-size: 1.4em;
}

#navlogo {
    font-size: 1.4em;
}